* {
  box-sizing: border-box;
}

html {
  font-family: lato;
  font-weight: 300;
}

.body {
  text-align: center;
}

.main-display {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/hearthstone.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 100px;
  margin: .25em -.5em 1em -.5em;
}

.header_name {
  color:#fff;
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
}

ul {
  list-style: none;
  letter-spacing: 2px;
}

.card_count {
  margin-bottom: 30px;
  /*border-bottom: .5px solid;*/
}


.login {
  padding-top: 10px;
  display: inline-block;
}

a {
  margin-right: 25px;
  color:  black;
}

a:first-child {
  margin-left: 20px;
}

.deck_text {
  font-size: 30px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #d35400;
  transition: color 0.2s;
}

