<html>
  <div class='login'>
    <a href= '/decks'>Home</a>
  </div>
  <div class="body">
    <div class="main-display">
      <h1 class= "header_name"><%=@user.username%>'s Profile</h1>
    </div>
    <div class="play">
      <form action='/logout' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Logout'>
      </form>
    </div>
  </div>


</html>
