<%=@card.question%>

<form action='/guesses' method='post'>
<input type='hidden' name='card_id' value="<%=@card.id%>">
<input type='hidden' name='round_id' value="<%=@round.id%>">
  Your Answer?<input type='text' name='content' placeholder='Take a wild guess!'>
  <input type='submit' value='Submit your answer!'>
</form>
