
<html>
  <div class='login'>
    <%if !logged_in?%>
    <a href= '/login'>Login</a>
    <a href= '/users/new'>Register</a>
    <%end%>
    <%if logged_in?%>
    <a href= '/users/<%=session[:user_id]%>'>Profile Page</a>

    <%end%>

  </div>
  <div class="body">
    <div class="main-display">
      <h1 class= "header_name">Grizzly Bears Flash Cards</h1>
    </div>
    <ul class="deck">
      <% @decks.each do |deck|%>
      <li class="deck_text"><a href='/decks/<%=deck.id%>'><%= deck.deck_name %></a></li>
      <li class="card_count">Card Count: <%= deck.cards.count %></li>
      <% end %>
    </ul>
  </div>


</html>

