<h1>All Decks</h1>
<ul>
  <% @decks.each do |deck|%>
  <li>Deck Name: <a href='/decks/<%=deck.id%>'><%= deck.deck_name %></a></li>
  <li>Card Count: <%= deck.cards.count %></li>
  <% end %>
</ul>


<a href= '/login'>Login</a><br><br>
<a href= '/users/new'>Register</a>
